body {
    font-family: sans-serif; /* fonte sem serifa */
    font-size: 16px; /* tamanho da fonte, o tamnho padrão já é 16px */
    background-color: $cor-primaria;
  }
  .container {
    max-width: 600px; /* Largura máxima do container */
    background-color: white;
    /* border-width: 1px;
        border-style: solid;
        border-color: red; */
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 50px;
    border-radius: calc($borda-arredondada * 5);
  }
  