.text-center {
    text-align: center; /* Alinha o texto dos filhos do elemento*/
    color: black; /* Define a cor dos filhos do elemento*/
  }
  h1 {
    color: $cor-primaria; /* Define a cor do texto */
  }
  